
body {
    background: #dddddd;
    font-family: "Helvetica";
}

#hd {
    padding: 1em;

    /* Cross-browser gradient fill for the header */
    background-image: linear-gradient(top, rgb(120,120,240) 5%, rgb(6,3,82) 100%, rgb(36,36,171) 100%);
    background-image: -o-linear-gradient(top, rgb(120,120,240) 5%, rgb(6,3,82) 100%, rgb(36,36,171) 100%);
    background-image: -moz-linear-gradient(top, rgb(120,120,240) 5%, rgb(6,3,82) 100%, rgb(36,36,171) 100%);
    background-image: -webkit-linear-gradient(top, rgb(120,120,240) 5%, rgb(6,3,82) 100%, rgb(36,36,171) 100%);
    background-image: -ms-linear-gradient(top, rgb(120,120,240) 5%, rgb(6,3,82) 100%, rgb(36,36,171) 100%);

    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.05, rgb(120,120,240)),
	color-stop(1, rgb(6,3,82)),
	color-stop(1, rgb(36,36,171))
    );
}

#bd {
    margin-top: 0.5em;
    background: white;
    padding: 1em;
}

#ft {
    background: #222222;
    clear: both;
    padding: 1em;
    text-align: center;
    color: white;
    font-family: "Lucinda Grande",Arial;
    font-size: 12pt;
}

#sidebar {

    margin-top: 3em;
    background-color: #d3e3f5;
    padding: 1em;
    border: 1px solid lightblue;
    
}

#sidebar h3 {
    color: #343534;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
    margin-top: 1em;
    margin-bottom: 1em;
    
}

#newPost h3 {
    font-size: x-large;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
    margin-top: 1em;
    margin-bottom: 1em;
}

#charLeft {
    color: lightslategray;
    float: right;
    font-size: x-large;
    border: none;
}

#postContent {
    margin: 1em;
    font-size: large;
    width: 90%;    
}

dt {
    float: left;    
}

dd {
    text-align: right;
}


.postImage {
    margin: 0.5em;
    float: left;
}

.postEntry {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 3em;
    font-size: larger;
    border-top: 1px solid lightslategray;

}

.postText a {
    font-weight: bold;
    text-decoration: none;
}

.postDate {
    font-size: smaller;
}

.friendsThumbnails img {
    margin: 4px;
}

.errors {
    background: lightpink;
    border: 1px dotted red;
    color: black;
    padding: 1em;
    margin: 1em;
    font-weight: bold;
}
